i {
  font-style: normal;
}
input[type='button'],
input[type='submit'] {
  background: #4fc08d !important;
}
input[type='button']:active,
input[type='submit']:active {
  border: none !important;
}
.mt15 {
  margin-top: 15px !important;
}
.m0 {
  margin: 0 !important;
}
.ml15 {
  margin-left: 15px !important;
}
.caret {
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin-top: 3px;
}
.col-md-7 {
  background: white;
}
textarea {
  resize: none;
}
.btn-success {
  background: #4fc08d;
}
.btn-success:hover {
  background: #4fc08d;
}
.noteMsg {
  color: red !important;
}
.has-success .form-control {
  border-color: rgba(34, 36, 38, 0.15);
}
.blog_title .text-success {
  color: #4fc08d;
}
.blog_title .text-success:hover {
  color: #4fc08d;
}
.blog_title p {
  color: #999999;
}
.container {
  padding-top: 55px;
}
.btn {
  border: none;
}
.container form {
  margin: 40px auto 0;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  padding: 1em;
  border-radius: .28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
}
.container form label {
  position: relative;
}
.container form label:after {
  content: '*';
  color: red;
  position: absolute;
  right: -7px;
  top: -3px;
}
.container form textarea {
  resize: none;
  max-height: 150px;
}
.container .note_form {
  margin: 0;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  border: 0;
}
.page{
  margin-top:50px;
  text-align: center;
}
.page ul{
  display: inline-block;
}
.page-active{
  background: #4fc08d!important;
  color: white!important;
  border:0;
}
.pagination li a{
  padding: 10px 22px;
  color:#4fc08d;
  border:1px solid #4fc08d!important;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
  background: #fff;
  color:#4fc08d;
}
.pagination > li{
  margin:5px;
  display: inline-block;
}
.disabled{
  cursor: not-allowed;
  opacity: 0.5;
}

nav {
  position: fixed !important;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}
nav li a {
  position: relative;
  transition: all 1s linear;
}
nav li a:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 2px;
  transform: translateX(-50%);
  background: #4fc08d;
  transition: all .25s linear;
  width: 0;
}
nav li a:hover:after {
  width: 100%;
}
.nav_img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.mr15 {
  margin-right: 15px;
}
.nav > li > a {
  display: inline-block;
}
.inline {
  display: inline-block;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #4fc08d;
}
.nav li a {
  color: #4fc08d !important;
}
.navbar-brand {
  color: #4fc08d !important;
}
.comment_box {
  margin-top: 45px;
}
.comment_box .head img {
  margin-bottom: 10px;
  width: 48px;
  height: 48px;
  border-radius: 3px;
}
.comment_box .c-title {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.comment_box .c-context {
  margin: 10px 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: #999999;
}
.comment_box .comment {
  border-radius: .28571429rem;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 15px;
}
.comment_box .comment a {
  color: #4fc08d;
}
.c_title {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.c_context {
  margin: 10px 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #999999;
}
.comment h3 {
  margin: 0;
}
.info_box {
  color: #999999;
}
.info_box .time {
  float: left;
}
.info_box .info {
  float: right;
}
.dropdown-menu {
  width: auto;
  min-width: 70px;
  top: 100%;
  right: 0;
  padding: 0;
}
.dropdown-menu li a:hover {
  color: #4fc08d;
}
.note {
  margin-top: 25px;
  border-radius: .28571429rem;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 15px;
}
.note h4 {
  padding-bottom: 5px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #DEDEDF;
}
.note textarea {
  height: 150px;
}
.note .user:last-child {
  margin: 0;
}
.block {
  display: block;
}
.user {
  margin-bottom: 15px;
}
.user img {
  width: 36px;
  height: 36px;
  border-radius: 3px;
}
.user .userInfo {
  margin-left: 50px;
}
.user .userInfo p {
  margin: 0;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.user .userInfo .time {
  margin-left: 10px;
  color: #999999;
}
.user .userInfo .del {
  background: white;
  color: red;
  border-radius: 3px;
  padding: 1px 3px;
  text-decoration: none;
  transition: all .1s linear;
}
.user .userInfo .del:hover {
  background: red;
  color: white;
}
.user .userInfo h5 {
  font-size: 16px;
  margin: 0;
  display: inline-block;
}
.user .userInfo h5 a {
  color: #4fc08d;
}
.has-success .form-control:focus {
  border-color: #4fc08d;
}
.upload {
  padding: 4px 10px;
  height: 30px;
  display: inline-block;
  line-height: 23px;
  position: relative;
  text-decoration: none;
  background: #4fc08d;
  border-radius: 3px;
  color: white;
}
.upload:hover {
  color: white;
  text-decoration: none;
}
.change {
  width: 76px;
  height: 30px;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  opacity: 0;
}
.on {
  box-sizing: border-box;
  border-bottom: 2px solid #4fc08d;
}
.form-group .text-danger {
  margin: 10px 0;
}
.top {
  position: fixed;
  bottom: 10px;
  left: 93.8%;
  z-index: 999;
  width: 72px;
  height: 72px;
  cursor: pointer;
  display: none;
  border-radius: 5px;
}
.top {
  background: url(../imgs/return_top.png);
}
.top:hover {
  background: url(../imgs/return_top_two.png);
}
@media (max-width: 768px) {
  .mt-xs-5 {
    margin-top: 5px;
  }
}
@media (max-width: 1170px) {
  .top{
    left:90%;
  }
}
@media (max-width: 970px) {
  .top{
    display: none!important;
  }
}
